*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexbox{
    display: flex;
}

a{
    text-decoration: none;
}



/* NAV BAR LEFT */
.nav-bar-left{
    width: 250px;
    height: calc(100vh - 60px);
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

/* sezione top navbar */
.section-top-navbar{
    padding-left: 3%;
}

/* logo */
.logo-container{
    height: 60px;
    background-color: aqua;
    width: 100%;
}

.logo-container img{
    width: 70%;
    padding-left: 5%;
}

/* icone */
.icon li{
    padding: 3% 0px;
}

.icon i{
    color: white;
    font-size: 1.5em;
}

/* add playlist */
.add-playlist{
    overflow-y: auto;
    overflow-x: hidden;
}

.add-playlist h4{
    color: white;
    margin-top: 4%;
    margin-bottom: 2%;
}

.add-playlist i{
    border: 1 px solid grey;
    color: white;
    background-color: grey;
    padding: 2%;
    font-size: 1.5em;
}

.add-icon{
    align-items: center;
    margin-bottom: 6%;
}

.add-playlist li{
    padding-top: 2%;
}


/* section bot navbar */
.section-bot-navbar i{
    color: white;
    border: 1px solid white;
    padding: 1%;
    border-radius: 50%;
    font-size: 0.6em;
}

.istalla-app{
    align-items: center;
    gap: 2%;
}

.divisore{
    width: 90%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 2%;
    margin: 4% 0px;
}

.who{
    align-items: center;
}

.who i{
    color: white;
    border: 1 px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 2%;
    margin-bottom: 2%;
}

.who p{
    color: white;
}






/* MAIN */
.main-container{
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
    background-color: coral;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar-top{
    width: 100%;
    height: 40px;
    background-color:aqua;
    margin-top:60px;
    justify-content: center;
    align-items: center;
}

.nav-bar-top li{
    display: inline-block;
}

.nav-bar-top a{
    /* margin: 2% 0%; */
}



/* contenuto del main */
.main-content{
    flex-direction: column;
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 1%;
}

.recently-played{
    gap: 2%; 
    flex-wrap: wrap;
}

.img-container{
    width: calc(88% / 6);
    text-align: center;
}

.img-container img{
    width: 100%;
    margin-top: 5%;
}

.first-img{
    margin-right: 2%;
}



/* upgrade-bar */
.upgrade-bar{
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    align-items: center;
    justify-content: end;
}

/* .upgrade-container{
    background-color: aliceblue;
    align-items: center;
} */

.upgrade-container h3{
    border: 1px solid white;
    border-radius: 50%;
    color: blue;
}



/* FOOTER */
.footer{
    width: 100%;
    height: 60px;
    background-color: firebrick;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    margin-left: 1%;
    /* width: 25%; */
    width: 15%;
}

.img-brano{
    width: 40px;
    height: 40px;
}

.img-brano img{
    width: 100%;
}

.nome-brano{
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.icon-left-footer{
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-left: 10%;
}

/* footer centrale */
.central-footer{
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.icon-central-footer{
   align-items: center;
   width: 100%;
   justify-content: center;
}

.timing-bar{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.listening-bar{
    border-bottom: 2px solid grey;
    border-radius: 5%;
    width: 70%;
    margin: 0px 2%;
}

/* right footer */
.footer-right{
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.little-bar{
    width: 100px;
    border-bottom: 2px solid grey;
    margin-right: 2%;
}



/* XL (1200px) */
@media screen and (max-width: 1200px){
    .img-container{
        width: calc(88% / 4);
        text-align: center;
    }
}

/* MD (992px) */
@media screen and (max-width: 768px){
    .img-container{
        width: calc(88% / 2);
        text-align: center;
    }
}

/* SM (576px) */
@media screen and (max-width: 576px){

    .main-container{
        width: 100%;
    }

    /* uuuu */
    
    .nav-bar-left{
        width: auto;
    }
    .logo-container{
        display: none;
    }
    .add-playlist{
        display: none;
    }
    .istalla-app a{
        display: none;
    }
    .divisore{
        display: none;
    }
    .who p{
        display: none;
    }
}
