*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: ;
}

.flex-box{
    display: flex;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container-struttura{
    width: 100%;
    height: 100%;
}

.section-play{
    width: 100%;
    height: 10vh;
    background-color: burlywood;
    float: left;
}

main{
    background-color: cadetblue;
    width: 80%;
    height: 80vh;
    overflow: auto;
    float: left;
}

.main-header{
    width: 100%;
    height: 8vh;
    background-color: chocolate;
    justify-content: center;
}

.main-content{
    /* justify-content: start; */
}

.main-content :first-child{
    justify-content: center;
}



/* sezione nera opaca in top */

#section-top{
    width: 80%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
}

.upgrade{
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.upgrade a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 1%;
}

.upgrade a:hover{
    font-size: 1.1em;
}


/* menu nero a sinistra */

.nav-bar-left{
    width: 20%;
    height: 90vh;
    background-color: black;
    float: left;
}

.logo{
    width: 100%;
    height: 10vh;
    align-items: center;
}

.logo img{
    width: 70%;
    height: 70%;
    margin-right: 20%;
}


.home-menu{
    flex-direction: column;
}

.icon-menu{
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    border-left: 3px solid black;
    padding-left: 4%;
}

.icon-menu:hover{
    border-color: yellowgreen;
}

.icon-menu i{
    font-size: 2em;
    margin-right: 2%;
}


.icon-menu a:hover{
    color: white;
}









/* icone */
i{
    color: grey;
}

/* link */
a{
    text-decoration: none;
    color: grey;
}
