*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.flexbox{
    display: flex;
}

a{
    text-decoration: none;
}



/* NAV BAR LEFT */
.nav-bar-left{
    width: 250px;
    height: calc(100vh - 60px);
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

/* sezione top navbar */
.section-top-navbar{
    padding-left: 3%;
}

/* logo */
.logo-container{
    height: 60px;
    background-color: aqua;
    width: 100%;
}

.logo-container img{
    width: 70%;
    padding-left: 5%;
}

/* icone */
.icon li{
    padding: 3% 0px;
}

.icon i{
    color: white;
    font-size: 1.5em;
}

/* add playlist */
.add-playlist{
    overflow-y: auto;
    overflow-x: hidden;
}

.add-playlist h4{
    color: white;
    margin-top: 4%;
    margin-bottom: 2%;
}

.add-playlist i{
    border: 1 px solid grey;
    color: white;
    background-color: grey;
    padding: 2%;
    font-size: 1.5em;
}

.add-icon{
    align-items: center;
    margin-bottom: 6%;
}

.add-playlist li{
    padding-top: 2%;
}


/* section bot navbar */
.section-bot-navbar i{
    color: white;
    border: 1px solid white;
    padding: 1%;
    border-radius: 50%;
    font-size: 0.6em;
}

.istalla-app{
    align-items: center;
    gap: 2%;
}

.divisore{
    width: 90%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 2%;
    margin: 4% 0px;
}

.who{
    align-items: center;
}

.who i{
    color: white;
    border: 1 px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 2%;
    margin-bottom: 2%;
}

.who p{
    color: white;
}






/* MAIN */
.main-container{
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
    background-color: coral;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar-top{
    width: 100%;
    height: 40px;
    background-color:aqua;
    margin-top:60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-bar-top li{
    display: inline-block;
}

.nav-bar-top a{
    /* margin: 2% 0%; */
}



/* contenuto del main */
.main-content{
    flex-direction: column;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.recently-played{
    gap: 2%; 
}

.img-container{
    width: calc(90% / 6);
    text-align: center;
}

.img-container img{
    width: 100%;
    margin-top: 5%;
}



/* upgrade-bar */
.upgrade-bar{
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
}

.upgrade-container{
    background-color: aliceblue;
    align-items: center;
}

.upgrade-container h3{
    border: 1px solid white;
    border-radius: 50%;
}






/* FOOTER */
.footer{
    width: 100%;
    height: 60px;
    background-color: firebrick;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    margin-left: 10px;
}

.img-brano{
    width: 40px;
    height: 40px;
}

.img-brano img{
    width: 100%;
}

.nome-brano{
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.icon-left-footer{
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
}